.section:first-of-type {
  margin: 20px auto;
  max-width: 1000px;
  width: auto;

  .card {
    cursor: pointer;
    max-width: 400px;
    height: 150px;
    background-color: lightgray;
    margin: 10px;
  }

  .theaters {

  }

  .movies {

  }

  .schedule {

  }

  .tickets {

  }
}
