section:first-of-type {
  margin: 20px auto;
  max-width: 1000px;
  width: auto;

  .card {
    //cursor: pointer;
    width: auto;
    height: auto;
    background-color: lightgray;
    margin: 10px;

    .showing {
      display: flex;

      .show-left {
        width: 80%;
      }

      .show-right {
        width: 20%;

        > button {
          margin: 5px;
        }

      }

    }
  }

}
