section:first-of-type {
  margin: 20px auto;
  max-width: 1000px;
  width: auto;

  .card {
    //cursor: pointer;
    width: auto;
    height: auto;
    background-color: lightgray;
    margin: 10px;
  }

}
